<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taskdiary.activity">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".CreateTaskActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ViewTaskDetails"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ViewAllTaskActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ViewCompletedTaskActivity"
            android:screenOrientation="portrait"></activity>

        <receiver android:name="com.taskdiary.receiver.AlarmReceiver"></receiver>

    </application>

</manifest>
